<p style="color: green"><%= notice %></p>


<div class="mt-[2rem] mb-[5rem]" id="posts">
 <h1 class="text-base sm:text-2xl text-center">Post</h1>
 <%= link_to "New post", new_post_path %>
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

